@font-face {
  font-family: "Z01-Umoe002";
  src: url("../fonts/mm_lat_yay_font/MM\ Lat\ Yay.ttf");
}

@font-face {
  font-family: "Myanmar Yinmar";
  src: url("../fonts/mm_unicode_20/Myanmar\ Yinmar\ Regular.ttf");
}
