@import url("https://fonts.googleapis.com/css2?family=Padauk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

:root {
  --white-color: #fdfdfd;
  --primary-color: #286090;
  --second-color: #ffc100;
  --third-color: #6d757d;
  --dark-text: #d3d3d3;
  --light-text: #4d4d4d;
  --dark-background: #2d2d2d;
  --light-background: #d3d3d3;
  --third-font: "Space Mono", monospace;
  --second-font: "Z01-Umoe002", sans-serif;
  --primary-font: "Myanmar Yinmar", sans-serif;
}

.theme-light {
  color: var(--light-text);
  background: var(--light-background);
}

.theme-dark {
  color: var(--dark-text);
  background: var(--dark-background);
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::selection {
  color: var(--second-color);
}

/* General elemnets */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--third-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--third-font);
}

a {
  font-size: 18x !important;
  color: var(--third-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

p {
  font-size: 16px !important;
  text-align: justify;
  line-height: 32px;
  text-indent: 5ch;
}

input,
textarea {
  border: none !important;
  background: transparent !important;
  color: var(--third-color) !important;
  box-shadow: 0 0 0.1rem var(--third-color) !important;
}

/* Header */

.cover {
  /* background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--primary-color)
  ); */
}

.title-name {
  font-size: 28px !important;
  font-weight: bold !important;
}

/* Body */

.article:hover {
  padding: 18px;
  box-shadow: 0 0 0.05rem var(--third-color) !important;
}

/* Shadow */

.shadow-sm {
  opacity: 0.98;
  box-shadow: 0 0 0.05rem var(--third-color) !important;
}

/* Separator */

.separator {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.separator h4 {
  padding: 0 2rem;
}

.separator .line {
  flex: 1;
  height: 1px;
}

/* Map */

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 220px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 220px;
}

.gmap_iframe {
  height: 220px !important;
}

/* Nav */

.nav-link,
.nav-link:hover {
  font-weight: bold;
  color: var(--third-color) !important;
}

.nav-link.active {
  background: transparent !important;
}

.nav-link.active span {
  border-bottom: 5px solid var(--second-color);
}

.about-nav-item,
.about-nav-item:hover {
  font-weight: bold;
  color: var(--black-color) !important;
  border-left: 5px solid var(--third-color) !important;
}

.about-nav-item.active {
  background: none !important;
  /* color: var(--second-color) !important; */
  border-left: 5px solid var(--second-color) !important;
}

/* List item */

.list-group {
  border-radius: 0;
  box-shadow: 0 0 0.05rem var(--third-color) !important;
}

.list-group-item {
  color: var(--third-color);
  padding: 8.8px 15px;
  background: transparent !important;
}

/* Article */

.article:hover {
  background: inherit;
  cursor: pointer;
}

/* Float & top */

.relative {
  position: relative;
}

.switch-btn {
  position: fixed;
  z-index: 20;
  top: 20px;
  left: 20px;
}

.social-btn {
  position: fixed;
  z-index: 20;
  right: 20px;
  bottom: 4.4rem;
}

.edit-data-btn {
  position: fixed;
  z-index: 20;
  right: 20px;
  top: 4.4rem;
}

.toggle-auth-btn {
  position: fixed;
  z-index: 20;
  right: 20px;
  top: 20px;
}

.top-to-btn,
.toggle-msg-btn {
  position: fixed;
  z-index: 20;
  right: 20px;
  bottom: 20px;
}

.submit-btn,
.submit-btn:hover {
  color: var(--second-color);
  background: var(--primary-color);
}

.gradient-btn,
.gradient-btn:hover {
  color: var(--second-color);
  background: var(--primary-color);
  /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); */
}

/* Social */

.social a i {
  font-size: 26px;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social a i:hover {
  background-image: linear-gradient(to top, #005bbb 50%, #ffd500 50%);
  background-image: -moz-linear-gradient(top, #005bbb 50%, #ffd500 50%);
  background-image: -webkit-linear-gradient(top, #005bbb 50%, #ffd500 50%);
}

/* Carousel Control */

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/* Github card */

.github-card {
  display: table;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

.github-card > h3 {
  font-size: 18px;
}

.github-card__desc {
  display: block;
  color: var(--third-color);
  min-height: 78px;
  margin-bottom: 10px;
}

.github-card__meta {
  color: var(--third-color);
  margin-right: 20px;
}

.github-card__center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* Footer */

.footer {
  position: static;
  border-bottom: 3px solid var(--third-color);
}
